.operation-tab {
    color: #fff !important;
    border-bottom-color: rgb(33,191,137) !important;
}

.operation-tab.active {
    
    /* border-style: solid; */
    border-top-color: rgb(33,191,137) !important;
    border-bottom-color: transparent !important;
    border-right-color: rgb(33,191,137) !important;
    border-left-color: rgb(33,191,137) !important;
} 
