.operation-tab {
    color: #fff !important;
    border-bottom-color: rgb(33,191,137) !important;
}

.operation-tab.active {
    
    /* border-style: solid; */
    border-top-color: rgb(33,191,137) !important;
    border-bottom-color: transparent !important;
    border-right-color: rgb(33,191,137) !important;
    border-left-color: rgb(33,191,137) !important;
} 

.btn {
    background: rgb(33,191,137);
}

html {
    --bs-body-bg: #27262e !important;
}

.logo {
    width: 60px;
    height: 60px;
}

.content-section {
    background: #2d2c38;
}

.card-body {
    background: #27262e;
    border-radius: 16px;
    min-width: 300px;
}

.profile-icon {
    --bs-primary: rgb(33,191,137);
    --bs-primary-rgb: 33,191,137;
}

.user-form {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}