
{% extends "layout.html" %} {% set active_page = "" %} 
{% block title%}LSB Image Steganography{% endblock %} 
{% block content %}
    <h1>LSB Image Steganography</h1>
    <form method="post" enctype="multipart/form-data">
        <!-- {{ form.hidden_tag() }} -->
        {{ form.message.label }}
        {{ form.message(autocomplete="new-password") }}
        {{ form.operation }}
      
        <input id="image" name="image" type="file" multiple accept="image/png, image/jpeg">
        <br>
        
        {{ form.submit }}
    </form>
{% endblock %}