
{% extends "layout.html" %} {% set active_page = "" %} 
{% block title%}LSB Image Steganography{% endblock %} 
{% block content %}
    <section class="bg-dark" style="--bs-dark-rgb: 45,44,56;padding-bottom: 66px;">
    <div class="container pt-4 pt-xl-5">
        <div class="row pt-5">
            <div class="col-md-8 col-xl-6 text-center text-md-start mx-auto" style="width: 55em;">
                <div class="text-center">
                    <p class="fw-bold text-success mb-2">Now working with GIFs!</p>
                    <h1 class="fw-bold" style="padding-bottom: 15px;">Hide messages within media!</h1>
                </div>
                <div>
                    <ul class="nav nav-tabs nav-fill" role="tablist">
                        <li class="nav-item" role="presentation"><a class="nav-link active operation-tab" role="tab" data-bs-toggle="tab" href="#tab-1">Encode</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link operation-tab" role="tab" data-bs-toggle="tab" href="#tab-2">Decode</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active show" role="tabpanel" id="tab-1">
                            <section class="position-relative py-4 py-xl-5" style="background: #27262e;border-bottom-left-radius: 16px;border-bottom-right-radius: 16px;">
                                <div class="container">
                                    <div class="row mb-5">
                                        <div class="col-md-8 col-xl-6 text-center mx-auto">
                                            <h2>Encode Your Messages</h2>
                                            <p class="w-lg-50">Hide a secret message within a png, jpeg or <strong>gif</strong> file</p>
                                        </div>
                                    </div>
                                    <div class="row d-flex justify-content-center">
                                        <div class="col-md-6 col-xl-4" style="width: 30em;">
                                            <div class="card mb-5">
                                                <div class="card-body d-flex flex-column align-items-center w-100 mw-100" style="min-width: 300px;">
                                                    <form class="text-center w-100" method="post" enctype="multipart/form-data" action="{{ url_for('index', operation='encode') }}">
                                                        <div class="mb-3">{{ form.message(class="form-control bg-transparent", placeholder="Message") }}</div>
                                                        <div class="mb-3"><input class="form-control" type="file" name="file" multiple accept="{{ accepted_mimetypes }}"></div>
                                                        <div class="mb-3">{{ form.submit(class="user-button btn d-block w-100") }}</div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="tab-pane" role="tabpanel" id="tab-2">
                            <section class="position-relative py-4 py-xl-5" style="background: #27262e;border-bottom-left-radius: 16px;border-bottom-right-radius: 16px;">
                                <div class="container">
                                    <div class="row mb-5">
                                        <div class="col-md-8 col-xl-6 text-center mx-auto">
                                            <h2>Decode Your Files</h2>
                                            <p class="w-lg-50">Find a secret message hidden within a png, jpeg or <strong>gif</strong> file</p>
                                        </div>
                                    </div>
                                    <div class="row d-flex justify-content-center">
                                        <div class="col-md-6 col-xl-4" style="width: 30em;">
                                            <div class="card mb-5">
                                                <div class="card-body d-flex flex-column align-items-center w-100 mw-100" style="min-width:300px;">
                                                    <form class="text-center user-form" method="post" enctype="multipart/form-data" action="{{ url_for('index', operation='decode') }}">
                                                        <div class="mb-3"><input class="form-control" type="file" name="file" multiple accept="{{ accepted_mimetypes }}"></div>
                                                        <div class="mb-3">{{ form.submit(class="user-button btn d-block w-100") }}</div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}